body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

html{
    background-color: black;
}

.carousel-item{
    position: relative;
    height: 100%;
}

.carousel-item img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}