body{
    background-image: url(wallpapersden.com_war-thunder-2017_4464x4217.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment:scroll;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

html{
    background-color: black;
}

p{
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
0.5px 0.5px #fff, -0.5px -0.5px #fff, 0.5px -0.5px #fff, -0.5px 0.5px #fff;
font-size: 20px;
}
